ion-tab-button::before {
    background-color: transparent;
    display: block;
    content: "";
    margin: 0 auto;
    width: 100%;
    height: 2px;
}

/* ion-tab-button.tab-selected::before {
    background-color: var(--ion-color-primary);
} */

ion-tab-button.tab-selected > ion-icon {
    color: var(--ion-color-primary);
}